$black: #000000;
$white: #ffffff;
$gray: #555555;
$blue: #0055AA;
$teal: #00AAAA;
$gold: #AA8D00;
$brown: #432100;
$orange: #AA5500;
$bright-orange: #FF8811;
$light-orange: #FFBB77;
$light-yellow: #FFD4A8;
$cream: #FFEDDB;

$font-base: 100%;
$font-h1: 2em;
$font-h2: 1.5em;

$radius-lg: 2em;
$radius-sm: 1em;
